{# empty Twig template #}
{% extends "HBHandballBundle::layout.html.twig" %}

{% block body %}
    <div>
        <p><a href="{{ path('fos_user_registration_register') }}">Inscrire un(e) nouvel(le) administrateur(trice)</a></p>
        <p><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></p>
    </div>
{% endblock %} 
{# empty Twig template #}{# empty Twig template #}
