{# empty Twig template #}
{% extends "HBHandballBundle::layout.html.twig" %}  

{% block body %}
    <div>
        {% for categories in category%}
            <p><a href="{{ path('hb_handball_onlyOneCategory', {'id':categories.id}) }}">{{ categories.name }}</a></p>
        {% endfor %}
    </div>
  </body>
{% endblock %} 