{# empty Twig template #}
{% extends "HBHandballBundle::layout.html.twig" %}

{% block body %}
    <h1>Ajouter un post</h1>
    <div>
        {{form(form)}}
    </div>
  </body>
{% endblock %} 

{% block javascripts %}
    {{ parent() }}
{% endblock %}