{# empty Twig template #}
{% extends "HBHandballBundle::layout.html.twig" %}

{% block body %}
    <h1>Ajouter une catégorie</h1>
    <div>
        {{form(form)}}
    </div>
  </body>
{% endblock %} {# empty Twig template #}
